* {
    padding: 0 ;
    margin: 0 ;
}
h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}
html,body{
    width:100%;
    min-height:100%;
}
/*侧边栏*/
.el-menu {
    background-color: rgba(0, 0, 0, 0);
    border-right: none;
    font-weight: 600;
}
/*一级*/
.el-submenu__title {
    font-size: 15px;
    color: #fff;
}
/*二级*/
.el-menu-item-group__title {
    font-size: 13px;
    color: #fff;
}
.el-menu-item {
    font-size: 15px;
    color: #fff;
}
/*鼠标焦点*/
.el-menu-item:focus, .el-menu-item:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.el-submenu__title:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
/*----------login----------------*/
.el-card__header {
    padding: 10px 20px;
}
